<div class="d-flex flex-nowrap justify-content-center">
    <a href="{{ hrefUpdate }}" class="btn btn-outline-primary btn-sm mr-2" data-toggle="tooltip" data-placement="bottom" title="Modifier la {{ media }} ci-dessus">
        <i class="fas fa-pencil-alt"></i>
    </a>
    <a href="{{ hrefDelete }}" class="btn btn-outline-primary btn-sm mr-2" data-delete data-trick="{{ trick.name }}" data-toggle="tooltip" data-placement="bottom" title="Supprimer la {{ media }} ci-dessus">
        <i class="fas fa-trash-alt"></i>
    </a>
</div>
