<div id="tricks" class="row d-none" data-token="{{ csrf_token('delete-trick-token258941367') }}">
	{% for trick in tricks %}
		<div class="col-sm-6 col-md-4 col-lg-3 my-2">
			<div class="card tricks">
				<div class="div-card-img d-flex align-items-center justify-content-center">
					<img 
						src="{{ asset('uploads/images/200/' ~ (trick.firstPicture ? trick.firstPicture.filename : (trick.pictures|length > 0 ? trick.pictures[0].filename : 'default.jpg'))) }}" 
						class="card-img-top"
						alt="Picture to illustrate {{ trick.name }} snowboard trick.">
				</div>
				<div class="card-body row justify-content-center">
					<h2 class="card-title d-flex justify-content-center">
						<a href="{{ path('display_trick', {uuid: trick.uuid, slug: trick.slug}) }}" class="btn btn-outline-primary btn-sm mr-2" data-toggle="tooltip" data-placement="bottom" title="Page de présentation du trick">
							{{ trick.name|upper }}
						</a>
					</h2>
					{% if is_granted('ROLE_VERIFY') %}
						<div>
							<a href="{{ path('trick_update', {slug: trick.slug, uuid: trick.uuid}) }}" class="btn btn-outline-primary btn-sm mr-1 ml-2" data-toggle="tooltip" data-placement="bottom" title="Modifier le trick">
								<i class="fas fa-pencil-alt"></i>
							</a>
							<a role="button" href="{{ path('trick_delete_ajax', {uuid: trick.uuid}) }}" class="btn btn-outline-primary btn-sm" data-delete data-trick="{{ trick.name }}" data-toggle="modal" data-target="#modalDelete" data-toggle="tooltip" data-placement="bottom" title="Supprimer le trick">
								<i class="fas fa-trash-alt"></i>
							</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{# Modal page before trick deletion #}
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteLabel">Attention ! Cette action est définitive !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {# ask confirmation to delete the trick {{ trick name define by JS code }} #}
      </div>
      <div class="modal-footer">
        <button id="cancelDeleteTrickModal" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button id="confirmDeleteTrickModal" type="button" class="btn btn-primary">Supprimer</button>
      </div>
    </div>
  </div>
</div>
{# Modal page to display deletion response #}
<div class="modal fade" id="modalResponseFromDelete" tabindex="-1" aria-labelledby="modalResponseLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
	  	<p class="modal-title" id="modalResponseLabel">{# response #}</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
{# buttons : load more, add a trick and scroll to tricks top #}
<div class="row">
	<div class="col-12 text-center mt-4">
		<a id="load-more-tricks" role="button" href="{{ path('load-more-tricks') }}" class="btn btn-primary mb-3 d-none">
			Voir plus de tricks
		</a>
	</div>
	{% if is_granted('ROLE_VERIFY') %}
		<div class="col-12 text-center mb-5">
			<a href="{{ path('trick_new') }}" class="btn btn-secondary mb-4 add-trick-btn d-none">
				<i class="fas fa-plus-circle"></i> Ajouter un trick
			</a>
		</div>
	{% endif %}
</div>

<div class="row">
	<div id="tricks-up" class="col-sm-12 d-none text-right sticky-bottom">
		<a>
			<i class="fas fa-arrow-circle-up "></i>
		</a>
	</div>
</div>
