{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks Accueil
{% endblock %}

{% block body %}
	<section class="container">
		<div id="home-banner" class="row d-flex mb-5">
			<img src="{{ asset('uploads/images/default2.jpg') }}" class="img-fluid" alt="Image de présentation de Snowtricks"/>
			<h1 class="col-6 col-sm-6">Site collaboratif pour apprendre des Tricks.</h1>
			<div id="tricks-down" class="col-12 text-right icon-fa-arrow-circle-down">
				<a><i class="fas fa-arrow-circle-down"></i></a>
			</div>
		</div>
		{#<div class="row">
			<p><a href="{{ path('display_trick', {uuid: trick.uuid, slug: indy}) }}">{{ trick.name }}</p>
		</div>#}
		<div id="tricks" class="row d-none">
			{% for trick in tricks %}
				<div class="col-sm-6 col-md-4 col-lg-3 my-2">
					<div class="card tricks">
						<div class="div-card-img d-flex align-items-center justify-content-center">
							<img 
							src="{{ asset('uploads/images/200/' ~ (trick.firstPicture ? trick.firstPicture.filename : (trick.pictures ? trick.pictures[0].filename : 'default.jpg'))) }}" 
							class="card-img-top"
							alt="Picture to illustrate {{ trick.name }} snowboard trick.">
						</div>
						<div class="card-body p-0 text-center">
							<h2 class="card-title">
								<a href="{{ path('display_trick', {uuid: trick.uuid, slug: trick.slug}) }}" class="btn btn-outline-primary text-nowrap">
									{{ trick.name|upper }}
								</a>
							</h2>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="row ">
			<div class="col-sm-12 text-center">
				<a id="load-more-tricks" role="button" href="{{ path('load-more-tricks') }}" class="btn btn-primary m-4 d-none">Voir plus</a>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/load-more-tricks.js') }}"></script>
{% endblock %}

