{% extends "base.html.twig" %}

{% block title %}
	{{ trick.name }}
{% endblock %}

{% block body %}
	<section id="trick-read" class="container">
		{# trick name and first picture #}
		<div class="row d-flex">
			<h1 class="col-12 text-center">{{ trick.name }}</h1>
			{% if app.user %}
			<div class="col text-right">
				<button id="scroll-to-comments" class="btn btn-primary btn-sm"> Aller aux commentaires <i class="fas fa-level-down-alt"></i> </button>
			</div>
			<div id="trick-read-icons" class="col-12 d-inline-flex justify-content-end">
				<a href="#" class="btn btn-outline-primary mr-2" data-toggle="tooltip" data-placement="bottom" title="Modifier le trick">
					<i class="fas fa-pencil-alt"></i>
				</a>
				<button class="btn btn-outline-primary mr-2" data-delete data-trick="{{ trick.name }}" data-toggle="modal" data-target="#modalDeleteTrick" data-toggle="tooltip" data-placement="bottom" title="Supprimer le trick">
					<i class="fas fa-trash-alt"></i>
				</button>
			</div>
			{% endif %}	
			{% set firstPicture = trick.firstPicture ? trick.firstPicture.filename : (trick.pictures|length > 0 ? trick.pictures[0].filename : 'default.jpg') %}
			{% set firstPictureAlt = trick.firstPicture ? trick.firstPicture.alt : null %}
			<picture class="col-12 d-inline-flex justify-content-center">
				<source srcset="{{ asset('uploads/images/540/' ~ firstPicture) }}" media="(max-width: 578px)" type="image/jpg">
				<source srcset="{{ asset('uploads/images/720/' ~ firstPicture) }}" media="(max-width: 800px)" type="image/jpg">
				<img src="{{ asset('uploads/images/960/' ~ firstPicture) }}" class="img-fluid" alt="{{ firstPicture ~ ', ' }} , photo pour illustrer le trick de snowboard {{ trick.name }}"/>
			</picture>
		</div>
		{# Modal Page to delete the trick #}
		<div class="modal fade" id="modalDeleteTrick" tabindex="-1" aria-labelledby="modalDeleteTrickLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalDeleteTrickLabel">Attention ! Cette action est définitive !</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Êtes-vous sûr.e de vouloir supprimer le trick <span class="font-weight-bold">{{ trick.name }}</span> ?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
						<form action="{{ url('trick_delete', {uuid: trick.uuid}) }}" method="POST">
							<input type="hidden" name="token" value="{{ csrf_token('delete-trick-'~ trick.id) }}"/>
    						<button type="submit" class="btn btn-primary">Supprimer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		{# pictures and videos #}
		<div
			class="row d-flex">
			{# width > 540 px #}
			<h2 class="d-none d-md-block col-sm-12 text-center">{{ trick.name }}</h2>
			<div class="d-none d-md-block col-sm-12 col-md-7 col-xl-5 text-center">
				{% for picture in trick.pictures %}
					<img src="{{ asset('uploads/images/200/' ~ picture.filename) }}" alt="{{ picture.alt ~ ', ' }} photo pour illustrer le trick de snowboard {{ trick.name }}." class="img-thumbnail rounded"/>
				{% endfor %}
			</div>
			<div class="d-none d-md-block col-sm-12 col-md-5 col-xl-7 text-center">
				{% for video in trick.videos %}
					{{ include('fragments/_iframe.html.twig', {width: 280, height: 157}) }}
				{% endfor %}
			</div>
			{# width < 540px #}
			<div class="d-block d-md-none col-12 text-center mt-5">
				{% if trick.pictures|length > 0 %}
				<p>
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePictures" aria-expanded="false" aria-controls="collapsePictures">
						Photos
					</button>
				</p>
				{% endif %}
				<div class="collapse mb-4" id="collapsePictures">
					{% for picture in trick.pictures %}
						<img src="{{ asset('uploads/images/540/' ~ picture.filename) }}" alt="{{ picture.alt }} , photo pour illustrer le trick de snowboard {{ trick.name }}" class="img-thumbnail rounded"/>
					{% endfor %}
				</div>
			</div>
			<div class="d-block d-md-none col-12 text-center">
				{% if trick.videos|length > 0 %}
				<p>
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseVideos" aria-expanded="false" aria-controls="collapseVideos">
						Vidéos
					</button>
				</p>
				{% endif %}
				<div class="collapse" id="collapseVideos">
					{% for video in trick.videos %}
						{{ include('fragments/_iframe.html.twig', {width: 280, height: 157}) }}
					{% endfor %}
				</div>
			</div>
		</div>
		{# trick description #}
		<div class="row">
			<h2 class="col-md-12 text-center">{{ trick.name }}</h2>
			<p class="text-justify px-4">
				{{ trick.description }}
			</p>
			<div class="col-sm-12 text-center mb-2">
				<p class="badge badge-primary mt-4 mr-4 text-uppercase">
					{{ trick.groupTrick.name }}
				</p>
				<p>
					Créé le
					<span class="font-weight-bold">{{ trick.createdAt|date('d/m/Y') }}</span>, et modifié le
					<span class="font-weight-bold">{{ trick.updatedAt|date('d/m/Y') }}</span>
				</p>
			</div>
		</div>
		<hr class="mb-5">
		{# comments #}
		{% if app.user %}
			{{ form_start(form, {'method': 'POST'}) }}
			<div id="comments-for-scroll" class="form-row align-items-center mt-4">
				<div class="col-12 col-sm-8 col-md-9">
					{{ form_widget(form.content) }}
				</div>
				<div class="col-12 mt-3 col-sm-4 mt-sm-0 col-md-3 text-center ">
					<input type="submit" class="btn btn-primary" value="Laisser un commentaire">
				</div>
			</div>
			<div class="form-row">
				{{ form_errors(form.content) }}
			</div>
			{{ form_end(form) }}
			<hr class="my-5">
		{% endif %}
		<div id="comments" class="row">
			{% for comment in comments %}
				<div class="card comments col-12 col-sm-12 ">
					<div class="row no-gutters">
						{% set filename = comment.user.profile ? comment.user.profile : 'default.jpg' %}
						<div class="col-2 col-lg-1 pt-3">
							<img src="{{ asset('uploads/images/profile/' ~ filename) }}" class="card-img" alt="Image de profil de {{ comment.user.username }}">
						</div>
						<div class="col-10 col-lg-11">
							<div class="card-body">
								<h5 class="card-title font-weight-bold">{{ comment.user.username }}</h5>
								<p class="card-text">{{ comment.content }}</p>
								<p class="card-text">
									<small class="text-muted">Posté le
										{{ comment.createdAt|date('d/m/Y') }}
										à
										{{ comment.createdAt|date('H:i:s') }}</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<div class="col-sm-12 text-center mb-5">
				<a id="load-more-comments" role="button" href="{{ path('load-more-comments', {uuid: trick.uuid, slug: trick.slug}) }}" class="btn btn-primary m-4">Voir plus</a>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/trick.js') }}"></script>
{% endblock %}
