{% extends "base.html.twig" %}

{% block title %}
	Modifier un trick
{% endblock %}

{% block body %}
    <section id="trick-update" class="container">
		{# trick name and first picture #}
		<div class="row">
			<h1 class="col-12 text-center mt-5">Modifier le trick :</h1>
            <h2 class="col-12 text-center mt-2 mb-3">{{ trick.name|upper }}</h2>
        </div>
        <div class="row d-flex flex-nowrap justify-content-center first-image mt-4">
			{% set firstPicture = trick.firstPicture ? trick.firstPicture.filename : (trick.pictures|length > 0 ? trick.pictures[0].filename : 'default.jpg') %}
			{% set firstPictureAlt = trick.firstPicture ? trick.firstPicture.alt : null %}
			<picture>
				<source srcset="{{ asset('uploads/images/540/' ~ firstPicture) }}" media="(max-width: 578px)" type="image/jpg">
				<source srcset="{{ asset('uploads/images/720/' ~ firstPicture) }}" media="(max-width: 800px)" type="image/jpg">
				<img src="{{ asset('uploads/images/960/' ~ firstPicture) }}" class="img-fluid" alt="{{ firstPicture }} photo pour illustrer le trick de snowboard {{ trick.name }}"/>
			</picture>
            <div id="first-image-icons" class="align-self-start d-flex flex-nowrap">
                <a href="#" class="btn btn-outline-primary btn-sm mr-2" data-toggle="tooltip" data-placement="bottom" title="Modifier l'image à la une">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a href="#" class="btn btn-outline-primary btn-sm mr-2" data-delete data-trick="{{ trick.name }}" data-toggle="tooltip" data-placement="bottom" title="Supprimer l'image à la une">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
		</div>
		{# Modal Page to change the trick's first image #}
        {#################################################}
        
        {# medias #}
        {# pictures and videos #}
		<div class="row d-flex mt-4">
			{# width > 720px #}
			<div class="d-none d-md-block col-sm-12 col-md-7 col-lg-6 text-left">
				{% for picture in trick.pictures %}
                <div class="d-inline-block mb-2">
					<img width="160px" src="{{ asset('uploads/images/200/' ~ picture.filename) }}" alt="{{ picture.alt }} photo pour illustrer le trick de snowboard {{ trick.name }}." class="img-thumbnail rounded"/>
                    {{ include('fragments/_icons-media.html.twig', { hrefUpdate: '#', hrefDelete: '#', media: 'photo'}) }}
                </div>
				{% endfor %}
                <div class="row justify-content-center mt-2">
                    <button class="btn btn-primary btn-sm">Ajouter une photo</button>
                </div>
			</div>
			<div class="d-none d-md-block col-sm-12 col-md-5 col-lg-6 text-right">
				{% for video in trick.videos %}
                <div class="d-inline-block mb-2">
					{{ include('fragments/_iframe.html.twig', {width: 210, height: 118}) }}
                    {{ include('fragments/_icons-media.html.twig', { hrefUpdate: '#', hrefDelete: '#', media: 'vidéo'}) }}
                </div>
				{% endfor %}
                <div class="row justify-content-center mt-2">
                    <button class="btn btn-primary btn-sm">Ajouter une vidéo</button>
                </div>
			</div>
			{# width < 720px #}
			<div class="d-block d-md-none col-12 text-center mt-5">
				{% if trick.pictures|length > 0 %}
				<p>
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePicturesUpdate" aria-expanded="false" aria-controls="collapsePictures">
						Photos
					</button>
				</p>
				{% endif %}
				<div class="collapse mb-4" id="collapsePicturesUpdate">
					{% for picture in trick.pictures %}
                    <div class="d-inline-block">
						<img src="{{ asset('uploads/images/200/' ~ picture.filename) }}" alt="{{ picture.alt }} , photo pour illustrer le trick de snowboard {{ trick.name }}" class="img-thumbnail rounded"/>
                        {{ include('fragments/_icons-media.html.twig', { hrefUpdate: '#', hrefDelete: '#', media: 'photo'}) }}
                    </div>
					{% endfor %}
                    <div class="row justify-content-center mt-4 mb-5">
                        <button class="btn btn-primary btn-sm">Ajouter une photo</button>
                    </div>
				</div>
			</div>
			<div class="d-block d-md-none col-12 text-center">
				{% if trick.videos|length > 0 %}
				<p>
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseVideosUpdate" aria-expanded="false" aria-controls="collapseVideos">
						Vidéos
					</button>
				</p>
				{% endif %}
				<div class="collapse" id="collapseVideosUpdate">
					{% for video in trick.videos %}
                    <div class="d-inline-block mt-2">
						{{ include('fragments/_iframe.html.twig', {width: 210, height: 118}) }}
                        {{ include('fragments/_icons-media.html.twig', { hrefUpdate: '#', hrefDelete: '#', media: 'vidéo'}) }}
                    </div>
					{% endfor %}
                    <div class="row justify-content-center mt-4">
                        <button class="btn btn-primary btn-sm">Ajouter une vidéo</button>
                    </div>
				</div>
			</div>
		</div>

    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/trick-new.js') }}"></script>
{% endblock %}
