{% extends "base.html.twig" %}

{% block title %}
	Modifier un trick
{% endblock %}

{% block body %}
	<section id="trick-update" class="container">

		{# TRICK NAME #}
		<div class="row">
			<h1 class="col-12 text-center mt-5">Modifier le trick :</h1>
			<h2 class="col-12 text-center mt-2 mb-3">
				<span>{{ trick.name|upper }}</span>
				<button type="button" class="btn btn-outline-primary btn-sm" 
					data-toggle="modal" data-target="#updateNameModal" 
					data-toggle="tooltip" data-placement="bottom" title="Corriger ou compléter le nom du trick">
					<i class="fas fa-pencil-alt"></i>
				</button>
			</h2>
		</div>

		{{ form_start(form) }}

		{# modale page to update trick name #}
		<div class="modal fade" id="updateNameModal" tabindex="-1" aria-labelledby="updateNameModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold" id="updateNameModalLabel">Corriger ou compléter le nom du trick :</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="form-group row">
								{{ form_label(form.name, 'Nom du trick : ') }}
								{{ form_widget(form.name) }}
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						<a href="{{ path('trick_update_name', {slug: trick.slug, uuid: trick.uuid}) }}" type="button" 
							id="update-trick-name" class="btn btn-primary" 
							data-token="{{ csrf_token('update-name-token-' ~ trick.uuid) }}">
							Enregistrer
						</a>
					</div>
				</div>
			</div>
		</div>

		{# FIRST IMAGE #}
		<div class="row d-flex flex-nowrap justify-content-center first-image mt-3">
			{% set firstPicture = trick.firstPicture ? trick.firstPicture.filename : (trick.pictures|length > 0 ? trick.pictures[0].filename : 'default.jpg') %}
			{% set firstPictureAlt = trick.firstPicture ? trick.firstPicture.alt : null %}
			<picture>
				<source srcset="{{ asset('uploads/images/540/' ~ firstPicture) }}" media="(max-width: 578px)">
				<source srcset="{{ asset('uploads/images/720/' ~ firstPicture) }}" media="(max-width: 800px)">
				<img src="{{ asset('uploads/images/960/' ~ firstPicture) }}" class="img-fluid" alt="{{ firstPicture }} photo pour illustrer le trick de snowboard {{ trick.name }}"/>
			</picture>
			<div id="first-image-icons" class="align-self-start d-flex flex-nowrap">
				<button type="button" class="btn btn-outline-primary btn-sm mr-2" 
					data-toggle="modal" data-target="#updateFirstImageModal" 
					data-toggle="tooltip" data-placement="bottom" title="Modifier l'image à la une">
					<i class="fas fa-pencil-alt"></i>
				</button>
				<a href="{{ path('trick_delete_first_image', {slug: trick.slug, uuid: trick.uuid}) }}" 
					id="delete-first-image" class="btn btn-outline-primary btn-sm mr-2" 
					data-token="{{ csrf_token('delete-first-image-token-' ~ trick.uuid) }}" 
					data-toggle="tooltip" data-placement="bottom" title="Supprimer l'image à la une">
					<i class="fas fa-trash-alt"></i>
				</a>
			</div>
		</div>

		{# Modal Page to change the trick's first image #}
		<div class="modal fade" id="updateFirstImageModal" tabindex="-1" aria-labelledby="updateFirstImageModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="updateFirstImageModalLabel">Choisir l'image à la une :</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<form action="#">
								<div class="d-flex flex-row flex-wrap justify-content-center">
									{% if trick.pictures|length == 0 %}
										<p>	Ajouter une ou plusieurs photos pour pouvoir en mettre une à la une ;)</p>
									{% endif %}
									{% for picture in trick.pictures %}
										<div>
											<img width="120px" src="{{ asset('uploads/images/200/'~ picture.filename) }}" alt="{{ picture.alt }} pour illustrer le trick {{ trick.name }}">
											<div class="custom-control custom-radio text-center">
												<input type="radio" id="first_picture_{{ loop.index }}" 
													name="first_picture" class="custom-control-input input-radio-first-picture" value="{{ picture.id }}">
												<label class="custom-control-label" for="first_picture_{{ loop.index }}"></label>
											</div>
										</div>
									{% endfor %}
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						{% if trick.pictures|length > 0 %}
							<a href="{{ path('trick_update_first_image', {slug: trick.slug, uuid: trick.uuid}) }}" 
								id="update-first-image" class="btn btn-primary" 
								data-token="{{ csrf_token('update-first-image-token-'~ trick.uuid) }}">
									Enregistrer
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>


		{# MEDIAS #}

		{# modal page to know where find the video code #}
		{{ include('fragments/_help_video_code.html.twig') }}

		{# modal pages to update a video #}
		{% for video in form.videos %}
			<div class="modal fade update-video-modal" id="updateVideoModal-{{ video.vars.value.id }}" tabindex="-1" aria-labelledby="videoModalLabel-{{ video.vars.value.id }}" aria-hidden="true"> 
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="videoModalLabel-{{ video.vars.value.id }}">Modifier la vidéo :</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<div class="form mb-3">
									<div class="pl-3 text-left">
										{{ form_label(video.service) }}
										{{ form_widget(video.service, {'attr': {'class': 'update-service-video'}}) }}
									</div>
									<div class="px-3 mt-4 text-left">
										{{ form_label(video.code) }}
										<span class="modal-info-code" data-toggle="collapse" data-target="#collapse-help-code-video" 
											aria-expanded="false" aria-controls="collapse-help-code-video">
												<i class="fas fa-question-circle"></i>
										</span>
										{{ form_widget(video.code, {'attr': {'class': 'update-code-video'}}) }}
									</div>
								</div>
								<hr>
								<div class="row collapse" id="collapse-help-code-video">
									<h5 class="col-12 font-weight-bold text-danger">Dans l'url de la vidéo :</h5>
									<div class="col-12 mt-2">
										<h6 class="badge badge-info">Sur YouTube :</h6>
									</div>	
									<img class="img-fluid mt-n2" src="{{ asset('images/help-code-youtube.png') }}" alt="Comment trouver le code de la video sur YouTube ? Le code dans l'URL après 'v='"/>
									<div class="col-12 mt-1">
										<h6 class="badge badge-info">Sur Vimeo :</h6>
									</div>
									<img class="img-fluid mt-n2" src="{{ asset('images/help-code-vimeo.png') }}" alt="Comment trouver le code de la video sur YouTube ? Dernière partie de l'URL, après le dernier slash '/'"/>
									<div class="col-12 mt-1">
										<h6 class="badge badge-info">Sur Dailymotion :</h6>
									</div>
									<img class="img-fluid mt-n2" src="{{ asset('images/help-code-dailymotion.png') }}" alt="Comment trouver le code de la video sur YouTube ? Dernière partie de l'URL, après le dernier slash '/'"/>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							<a href="{{ path('trick_update_video', {slug: trick.slug, uuid: trick.uuid}) }}" type="button" 
							class="btn btn-primary update-video-link" data-token="{{ csrf_token('update-video-token-' ~ trick.uuid) }}" 
							data-service="{{ video.vars.value.service }}" data-code="{{ video.vars.value.code }}" 
							data-videoid="{{ video.vars.value.id }}">
								Enregistrer
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		{# modal pages to delete a video #}
		{% for video in form.videos %}
			<div class="modal fade" id="deleteVideoModal-{{ video.vars.value.id }}" tabindex="-1" 
				aria-labelledby="deleteVideoModalLabel-{{ video.vars.value.id }}" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title font-weight-bold" id="deleteVideoModalLabel-{{ video.vars.value.id }}">Attention ! C'est action est définitive !</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row justify-content-center">
								<h5> Est-vous sûr de vouloir supprimer cette vidéo ? </h5>
								{{ include('fragments/_iframe.html.twig', {service: video.vars.value.service, code: video.vars.value.code, width: 210, height: 118}) }}
							</div>
							</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary " data-dismiss="modal">Fermer</button>
							<a href="{{ path('trick_delete_video', {slug: trick.slug, uuid: trick.uuid}) }}" 
								type="button" class="btn btn-primary delete-video-link" data-videoid="{{ video.vars.value.id }}"
								data-token="{{ csrf_token('delete-video-token-' ~ trick.uuid) }}">
								Supprimer
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		{# modal pages to update a picture #}
		{% for picture in form.pictures %}
			{% set pictureId = picture.vars.value.id %}
			<div class="modal fade update-picture-modal" id="updatePictureModal-{{ pictureId }}" 
				tabindex="-1" aria-labelledby="updatePictureModalLabel-{{ pictureId }}" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="updatePictureModalLabel-{{ pictureId }}">Modifier l'image : </h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row justify-content-center">
								<p class="mb-0">Attention ! Cette image sera écrasée par le nouveau fichier.</p>
								<img width="160px" class="img-thumbnail rounded" src="{{ asset('uploads/images/200/' ~ picture.vars.value.filename) }}" 
									alt="{{ picture.vars.value.alt }} photo pour illustrer le trick de snowboard {{ trick.name }}." />
							</div>
							{{ form_start(picture, {'enctype': 'multipart/form-data', 
								'attr': {'class': 'update-picture-form','id': 'update-picture-form-' ~ pictureId }}) }}
							<div class="row picture pt-2">
								<div class="col-12">
									{{ form_row(picture.file, {'id': 'input-file-update-picture-' ~ pictureId}) }}
								</div>
								<div class="col-12 my-2">
									{{ form_label(picture.alt, "Une brève description de l'image :") }}
									{{ form_widget(picture.alt, {'attr': {'required': true}, 'id': 'input-alt-update-picture-' ~ pictureId}) }}
								</div>
								<input type="hidden" id="update-picture-token-{{ pictureId }}" name="token" value="{{ csrf_token('update-picture-token-' ~ pictureId) }}"/>
							</div>
							{{ form_end(picture) }}
						</div>
					</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							<a href="{{ path('trick_update_picture', {slug: trick.slug, uuid: trick.uuid, picture_id: pictureId}) }}" 
								 type="button" class="btn btn-primary update-picture-link" data-pictureid="{{ pictureId }}">
									Enregistrer
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		{# modal pages to delete pictures #}
		{% for picture in form.pictures %}
			{% set pictureId = picture.vars.value.id %}
			<div class="modal fade" id="deletePictureModal-{{ pictureId }}" tabindex="-1" 
				aria-labelledby="deletePictureModalLabel-{{ pictureId }}" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title font-weight-bold" id="deletePictureModalLabel-{{ pictureId }}">
								Attention ! C'est action est définitive !
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row justify-content-center">
								<h5> Est-vous sûr de vouloir supprimer cette image ? </h5>
								<img src="{{ asset('uploads/images/200/' ~ picture.vars.value.filename) }}" class="img-thumbnail img-fluid rounded"
									alt="{{ picture.vars.value.alt }} photo pour illustrer le trick de snowboard {{ trick.name }}."/>
							</div>
							</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary " data-dismiss="modal">Fermer</button>
							<a href="{{ path('trick_delete_picture', {slug: trick.slug, uuid: trick.uuid}) }}" 
								type="button" class="btn btn-primary delete-picture-link" data-pictureid="{{ pictureId }}"
								data-token="{{ csrf_token('delete-picture-token-' ~ pictureId) }}">
								Supprimer
							</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

		
		{# DISPLAY MEDIAS #}
		<div class="row d-flex mt-2">

			{# width > 720px #}
			<div class="d-none d-md-block col-sm-12 col-md-7 col-lg-6 text-left update-trick-pictures" 
				data-prototype="{{ form_widget(form.pictures.vars.prototype)|e('html_attr') }}">
				{# display pictures #}
				{% for picture in form.pictures %}
					{% set pictureId = picture.vars.value.id %}
					<div class="d-inline-block mb-2">
						<img width="160px" id="picture-display-{{ pictureId }}" src="{{ asset('uploads/images/200/' ~ picture.vars.value.filename) }}" 
							alt="{{ picture.vars.value.alt }} photo pour illustrer le trick de snowboard {{ trick.name }}." class="img-thumbnail rounded"/>
						<div class="d-flex flex-nowrap justify-content-center">
							<button type="button" class="btn btn-outline-primary btn-sm mr-2" 
								data-toggle="modal" data-target="#updatePictureModal-{{ pictureId }}"
								data-toggle="tooltip" data-placement="bottom" title="Modifier la photo ci-dessus">
								<i class="fas fa-pencil-alt"></i>
							</button>
							<button type="button" class="btn btn-outline-primary btn-sm mr-2" 
								data-toggle="modal" data-target="#deletePictureModal-{{ pictureId }}"
								data-toggle="tooltip" data-placement="bottom" title="Supprimer la photo ci-dessus">
								<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</div>
				{% endfor %}
				<div class="row justify-content-center mt-2 add-picture-link large-screen" >
					<button type="button" class="btn btn-add btn-sm" data-screen="large">Ajouter une photo</button>
				</div>
			</div>
			<div class="d-none d-md-block col-sm-12 col-md-5 col-lg-6 text-right update-trick-videos" 
				data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
				{# display videos #}
				{% for video in form.videos %}
					{# display video and it's pencil and trash icons #}
					<div id="video-display-{{ video.vars.value.id }}" class="d-inline-block mb-2">
						{{ include('fragments/_iframe.html.twig', {service: video.vars.value.service, code: video.vars.value.code, width: 210, height: 118}) }}
						{# icons to update or delete a video #}
						<div class="d-flex flex-nowrap justify-content-center">
							<button type="button" class="btn btn-outline-primary btn-sm mr-2" 
								data-toggle="modal" data-target="#updateVideoModal-{{ video.vars.value.id }}" 
								data-toggle="tooltip" data-placement="bottom" title="Modifier la vidéo ci-dessus">
								<i class="fas fa-pencil-alt"></i>
							</button>
							<button type="button" class="btn btn-outline-primary btn-sm mr-2" 
								data-toggle="modal" data-target="#deleteVideoModal-{{ video.vars.value.id }}"
								data-toggle="tooltip" data-placement="bottom" title="Supprimer la vidéo ci-dessus">
									<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</div>
				{% endfor %}
				<div class="row justify-content-center mt-2 add_video_link large-screen">
					<button type="button" class="btn btn-add btn-sm" data-screen="large">Ajouter une vidéo</button>
				</div>
			</div>
			{# width < 720px #}
			<div class="d-block d-md-none col-12 text-center mt-3">
				{# display pictures #}
				{% if trick.pictures|length > 0 %}
					<p>
						<button type="button" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePicturesUpdate" aria-expanded="false" aria-controls="collapsePictures">
							Voir Photos
						</button>
					</p>
				{% endif %}
				<div class="collapse mb-4 update-trick-pictures" id="collapsePicturesUpdate">
					{% for picture in form.pictures %}
						{% set pictureId = picture.vars.value.id %}
						{# display picture #}
						<div class="d-inline-block">
							<img src="{{ asset('uploads/images/200/' ~ picture.vars.value.filename) }}"  id="picture-display-mobile-{{ pictureId }}"
								alt="{{ picture.vars.value.alt }} , photo pour illustrer le trick de snowboard {{ trick.name }}" class="img-thumbnail rounded"/>
							{# icons to delete or update a picture #}
							<div class="d-flex flex-nowrap justify-content-center">
								<button type="button" class="btn btn-outline-primary btn-sm mr-2" 
									data-toggle="modal" data-target="#updatePictureModal-{{ pictureId }}"
									data-toggle="tooltip" data-placement="bottom" title="Modifier la photo ci-dessus">
										<i class="fas fa-pencil-alt"></i>
								</button>
								<button type="button" class="btn btn-outline-primary btn-sm mr-2" 
									data-toggle="modal" data-target="#deletePictureModal-{{ pictureId }}"
									data-toggle="tooltip" data-placement="bottom" title="Supprimer la photo ci-dessus">
										<i class="fas fa-trash-alt"></i>
								</button>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="row justify-content-center mb-1 add-picture-link small-screen">
					<button type="button" class="btn btn-add btn-sm" data-screen="small">Ajouter une photo</button>
				</div>
			</div>
			<div id="trick-update-video-mobile" class="d-block d-md-none col-12 update-trick-videos">
				{# display videos #}
				{% if trick.videos|length > 0 %}
					<p class="d-flex justify-content-center">
						<button type="button" class="btn btn-primary mt-3" data-toggle="collapse" data-target="#collapseVideosUpdate" aria-expanded="false" aria-controls="collapseVideos">
							Voir Vidéos
						</button>
					</p>
				{% endif %}
				<div class="row collapse justify-content-center" id="collapseVideosUpdate">
					{% for video in form.videos %}
						{# display video #}
						<div id="video-display-mobile-{{ video.vars.value.id }}" class="d-inline-block mb-2">
							{{ include('fragments/_iframe.html.twig', {service: video.vars.value.service, code: video.vars.value.code, width: 210, height: 118}) }}
							{# icons : pencil and trash #}
							<div class="d-flex flex-nowrap justify-content-center">
								{# icon to update the video #}
								<button type="button" class="btn btn-outline-primary btn-sm mr-2 update-video-button-mobile" 
									data-videoid="{{ video.vars.value.id }}" 
									data-toggle="modal" data-target="#updateVideoModal-{{ video.vars.value.id }}"
									data-toggle="tooltip" data-placement="bottom" title="Modifier la vidéo ci-dessus">
									<i class="fas fa-pencil-alt"></i>
								</button>
								{# icon to delete the video #}
								<button  type="button" class="btn btn-outline-primary btn-sm mr-2" 
									data-toggle="modal" data-target="#deleteVideoModal-{{ video.vars.value.id }}" 
									data-toggle="tooltip" data-placement="bottom" title="Supprimer la vidéo ci-dessus">
										<i class="fas fa-trash-alt"></i>
								</button>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="row justify-content-center add_video_link small-screen">
					<button type="button" class="btn btn-add btn-sm " data-screen="small" >Ajouter une vidéo</button>
				</div>
			</div>
		</div>

		{# description #}
		<hr class="mt-5">
		<div class="row justify-content-center ">
			<h2 class="col-12 text-center mt-2 mb-3">{{ trick.name|upper }}</h2>
			<p>
				Créé le
				<span class="font-weight-bold">{{ trick.createdAt|date('d/m/Y') }}</span>, et modifié le
				<span class="font-weight-bold">{{ trick.updatedAt|date('d/m/Y') }}</span>
			</p>
			<div class="col-sm-12 col-lg-9 mb-3">
				{{ form_label(form.description) }}
				{{ form_widget(form.description, {attr: {'class': 'col-12', 'rows': '10'}}) }}
			</div>
			<div class="col-sm-12 col-lg-9 mb-5">
				<div class="row">
					{{ form_label(form.groupTrick, 'Modifier le groupe : ', {'label_attr': {'class': 'col-12'}}) }}
					{{ form_widget(form.groupTrick, {'attr': {'class': 'mb-4 mb-md-0 ml-4 col-6 col-sm-4'}}) }}
				</div>
				<div class="row justify-content-end mb-5 ">
					<a href="{{ path('trick_delete', {uuid: trick.uuid}) }}" type="button" class="btn btn-delete mt-2 mr-2">Supprimer le Trick</a>
					<button type="submit" class="btn btn-primary mr-2 mt-2">Enregistrer le modifications</button>
				</div>
			</div>
		</div>
		{# Modal Page to delete the trick #}
		{###################################}


	</section>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/trick-update.js') }}"></script>
{% endblock %}
