{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur
{% endblock %}

{% block body %}
	<section id="profile" class="container">

		<div class="row justify-content-center">
			<h1 class="mt-4 mt-sm-5 mb-3 mb-sm-4 font-weight-normal col-12 text-center">Profil utilisateur</h1>
		</div>

		<div class="row justify-content-center mt-3 mt-sm-4 mb-3">
			<h3 class="col-12 text-center">
				<span class="font-weight-bold">{{ form.vars.value.username }}</span>
			</h3>
			{% set filename = form.vars.value.profile ? form.vars.value.profile : 'default.jpg' %}
			<img class="img-fluid" src="{{ asset('uploads/images/100/' ~ filename) }}" alt="Photo de profil de l'utilisateur"/>
		</div>

		{{ include('fragments/_flashes.html.twig') }}

		<div class="row justify-content-center mx-2 mt-4">
			{{ form_start(form) }}
			{{ form_row(form.file) }}
			<div class="col-12 text-center">
				<input type="submit" value="Modifier" class="btn btn-primary"/>
			</div>
			{{ form_end(form) }}
		</div>

	</section>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/custom-input-file.js') }}"></script>
{% endblock %}
